// font
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700');

//Extends
@import "extends/variables";
@import "extends/breakpoints";
//Componets
@import "components/menu";
@import "components/header";
@import "components/content";



*{
	font-family: 'Open Sans', sans-serif;
	padding:0;
	margin:0;
	text-decoration:none;
	list-style:none;
	color:$font-primary;
}
// Class Globais

//Conteudo
.content{
	height: 450px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
