// @media #{$variável_breakpoint} {}


$small: "only screen and (max-width : 320px)";
$mobile: "only screen and (max-width : 600px)";
$mobile-extra: "only screen and (min-width: 601px) and (max-width: 668px)";
$tablet: "only screen and (min-width: 601px) and (max-width : 1024px)";
$tablet-extra: "only screen and (min-width: 768px) and (max-width: 1023px)";
$desktop: "only screen and (min-width: 1025px)";
$hd: "only screen and (min-width : 1500px)";

//Variaveis
$font-primary: #ffffff;
$bg-primary:#3b3784;

// font
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700');
//Componets
@import "components/menu";
@import "components/header";
@import "components/content";



*{
	font-family: 'Open Sans', sans-serif;
	padding:0;
	margin:0;
	text-decoration:none;
	list-style:none;
	color:$font-primary;
}
// Class Globais

//Conteudo
.content{
	height: 450px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
