.container{
	width:100%;
	color:$font-primary;
	background:$bg-primary;
	opacity:0.9;
	position: relative;
	height:590px;
	&::after{  
		content:"";
		background-image: url("../images/bg.jpg");
		background-size: 100%;
		position:absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		opacity:0.1;
		z-index: -1;
	}

	//Content
	.content{
		h1{
			letter-spacing: 1.6px;
		}
		p{
			font-weight: 300;
			margin-top: 10px;
		}
	}
}

