.nav{
	width:100%;
	display:flex;
	justify-content:flex-end;
	ul{
		display: flex;
		padding: 65px 76px 0 0;
		@media #{$small}{
			display: block;
			padding: 20px 0 0;
		}
		li{
			margin-right: 45px;
			@media #{$small}{
				margin:20px 45px;
			}
			a{
				&:hover{
					&:after{
						width: 100%;
					}
				}
				&:after{
					content: "";
					width: 0%;
					height: 2px;
					background: #fff;
					display: block;
					margin: 4px auto;
					transition: all 0.2s linear;
				}
			}
		}

	}
}
